<h1 class="text-center col-md-12">
  {{title}}
</h1>

<h3 class="text-center col-md-12">
  Level {{ currentLevel }}
</h3>
<p class="text-center col-md-12 " style="font-size:200px;">{{ countdowntimer }} </p>
<p class="text-center col-md-12 text-danger">Shuttles remaining: {{ countdown }} </p>

<div class="text-center">
  <button (click)="beepStart()" class="btn btn-primary">START</button>
</div>

<audio id="audio">
    <source src="http://soundbible.com/mp3/Censored_Beep-Mastercard-569981218.mp3" type="audio/mp3" />
</audio>
